<!DOCTYPE html>
<html>

<head>
    <title>Help</title>
    <link rel='icon' href='img/favicon.png' />
    <link href='/css/styles.css' rel='stylesheet' />
</head>

<body>
    <div class='main-content'>
        {{>header}}
        <p>This is some helpful info!</p>
    </div>
    {{>footer}}
</body>

</html>